@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

$mobile_px: 375px;
$desktop_px: 1440px;

$font_size: 14px;
$font_family_montserrat: 'Montserrat', sans-serif;
$font_family_fraunces: 'Fraunces', serif;

$dark_cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

$very_dark_blue: hsl(212, 21%, 14%);
$dark_grayish_blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);